# **Propósitos do projeto**

atraves de dados obtidos por meio da plataforma Kaggle sobre a aprovação de credito de um banco digital, Nosso objetivo é criar um modelo preditivo para classificar clientes como bons ou mal pagadores

# **Impotação dos Pacotes**

In [1]:
import pandas as pd
import numpy as np
import datetime
from datetime import timedelta
from google.colab import files
import warnings
warnings.filterwarnings('ignore')

# **Importando dados**
todos os dados foram disponibilizados no github. teremos 2 tabelas a serem analisada.


1.   Tabela de **cadastro de clientes**
2.   tabela de **status de pagamentos**

In [2]:
df_cadastros = pd.read_csv('https://raw.githubusercontent.com/Diderotcm/Solid-bank/main/dados/application_record.csv')
df_status_pagamento = pd.read_csv('https://raw.githubusercontent.com/Diderotcm/Solid-bank/main/dados/credit_record.csv')

In [3]:
df_cadastros.head(5)

,ID,GENERO,TEM_CARRO,IMOVEL_PROPRIO,N_FILHOS,RENDIMENTO_ANUAL,CAT_RENDA,ESCOLARIDADE,ESTADO_CIVIL,TIPO_RESIDENCIA,DATA_NASCIMENTO,DATA_EMPREGADO,TEM_CELULAR,TEM_CELULAR_EMPRESARIAL,TEM_TELEFONE_FIXO,TEM_EMAIL,OCUPACAO,TAM_FAMILIA
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0
3,5008808,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0
4,5008809,F,N,Y,0,270000.0,Commercial associate,Secondary / secondary special,Single / not married,House / apartment,-19110,-3051,1,0,1,1,Sales staff,1.0

In [ ]:
df_cadastros.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 438557 entries, 0 to 438556
Data columns (total 18 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   ID                       438557 non-null  int64
 1   GENERO                   438557 non-null  object
 2   TEM_CARRO                438557 non-null  object
 3   IMOVEL_PROPRIO           438557 non-null  object
 4   N_FILHOS                 438557 non-null  int64
 5   RENDIMENTO_ANUAL         438557 non-null  float64
 6   CAT_RENDA                438557 non-null  object
 7   ESCOLARIDADE             438557 non-null  object
 8   ESTADO_CIVIL             438557 non-null  object
 9   TIPO_RESIDENCIA          438557 non-null  object
 10  DATA_NASCIMENTO          438557 non-null  int64
 11  DATA_EMPREGADO           438557 non-null  int64
 12  TEM_CELULAR              438557 non-null  int64
 13  TEM_CELULAR_EMPRESARIAL  438557 non-null  int64
 14  TEM_TELEFONE_FIXO        438557 non-null  int64
 15  TEM_EMAIL                438557 non-null  int64
 16  OCUPACAO                 304354 non-null  object
 17  TAM_FAMILIA              438557 non-null  float64
dtypes: float64(2), int64(8), object(8)
memory usage: 60.2+ MB

# **Dados de cadastro**

---

## **Tradução dos dados**

---

existem 4 variaveis categoricas no conjunto de dados que são `CAT_RENDA`, `ESCOLARIDADE`, `ESTADO_CIVIL`, `TIPO_RESIDENCIA` com termos em ingles.

A seguir iremos extrair todos os termos únicos de cada variavel e substituir para sua tradução adequada em português.

In [ ]:
df_cadastros.head(3)

,ID,GENERO,TEM_CARRO,IMOVEL_PROPRIO,N_FILHOS,RENDIMENTO_ANUAL,CAT_RENDA,ESCOLARIDADE,ESTADO_CIVIL,TIPO_RESIDENCIA,DATA_NASCIMENTO,DATA_EMPREGADO,TEM_CELULAR,TEM_CELULAR_EMPRESARIAL,TEM_TELEFONE_FIXO,TEM_EMAIL,OCUPACAO,TAM_FAMILIA
0,5008804,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
1,5008805,M,Y,Y,0,427500.0,Working,Higher education,Civil marriage,Rented apartment,-12005,-4542,1,1,0,0,NaN,2.0
2,5008806,M,Y,Y,0,112500.0,Working,Secondary / secondary special,Married,House / apartment,-21474,-1134,1,0,0,0,Security staff,2.0

In [ ]:
# Verificando todas as palavras em ingles.

print(df_cadastros['CAT_RENDA'].unique())
print(df_cadastros['ESCOLARIDADE'].unique())
print(df_cadastros['ESTADO_CIVIL'].unique())
print(df_cadastros['TIPO_RESIDENCIA'].unique())
print(df_cadastros['OCUPACAO'].unique())

['Working' 'Commercial associate' 'Pensioner' 'State servant' 'Student']
['Higher education' 'Secondary / secondary special' 'Incomplete higher'
 'Lower secondary' 'Academic degree']
['Civil marriage' 'Married' 'Single / not married' 'Separated' 'Widow']
['Rented apartment' 'House / apartment' 'Municipal apartment'
 'With parents' 'Co-op apartment' 'Office apartment']
[nan 'Security staff' 'Sales staff' 'Accountants' 'Laborers' 'Managers'
 'Drivers' 'Core staff' 'High skill tech staff' 'Cleaning staff'
 'Private service staff' 'Cooking staff' 'Low-skill Laborers'
 'Medicine staff' 'Secretaries' 'Waiters/barmen staff' 'HR staff'
 'Realty agents' 'IT staff']

In [ ]:
# Traduzindo de forma adequada para português
df_cadastros_portugues = df_cadastros.replace(['Y','N','Working','Commercial associate','Pensioner','State servant','Student','Higher education','Secondary / secondary special','Incomplete higher','Lower secondary','Academic degree','Civil marriage','Married','Single / not married','Separated','Widow','Rented apartment','House / apartment','Municipal apartment','With parents','Co-op apartment','Office apartment',np.nan,'Security staff','Sales staff','Accountants','Laborers','Managers','Drivers','Core staff','High skill tech staff','Cleaning staff','Private service staff','Cooking staff','Low-skill Laborers','Medicine staff','Secretaries','Waiters/barmen staff','HR staff','Realty agents','IT staff'],
                     [1,0,'Trabalhando','Associado comercial','Pensionista'	,'Servidor do Estado','Estudante','Ensino superior','Ensino medio','Superior incompleto','Ensino fundamental'	,'pos graduacao'	,'Uniao estavel','Casado','Solteiro','Separado','Viúvo','Apartamento alugado','Casa/apartamento','moradia publica','mora com os pais','Apartamento cooperativo','Apartamento comercial','Outro','Seguranca','Vendas','Contador','construcao civil','Gerente','Motorista','Lider de equipe','Lider tech','Limpeza','Serviço privado','Cozinha','Baixa qualificacao','Medico','Secretario','Garcon','RH','Corretor de imoveis','TI'])

In [ ]:
# Verificando tradução.
print(df_cadastros_portugues['CAT_RENDA'].unique(),
      df_cadastros_portugues['ESCOLARIDADE'].unique(),
      df_cadastros_portugues['ESTADO_CIVIL'].unique(),
      df_cadastros_portugues['TIPO_RESIDENCIA'].unique(),
      df_cadastros_portugues['OCUPACAO'].unique())

['Trabalhando' 'Associado comercial' 'Pensionista' 'Servidor do Estado'
 'Estudante'] ['Ensino superior' 'Ensino medio' 'Superior incompleto'
 'Ensino fundamental' 'pos graduacao'] ['Uniao estavel' 'Casado' 'Solteiro' 'Separado' 'Viúvo'] ['Apartamento alugado' 'Casa/apartamento' 'moradia publica'
 'mora com os pais' 'Apartamento cooperativo' 'Apartamento comercial'] ['Outro' 'Seguranca' 'Vendas' 'Contador' 'construcao civil' 'Gerente'
 'Motorista' 'Lider de equipe' 'Lider tech' 'Limpeza' 'Serviço privado'
 'Cozinha' 'Baixa qualificacao' 'Medico' 'Secretario' 'Garcon' 'RH'
 'Corretor de imoveis' 'TI']

## **Limpeza dos dados**

---

Para começar o processo de limpeza dos dados checaremos: 

1.   se todas as observações (ID clientes) são unicas no nosso banco de dados.
2.   se existem valores ausente que impacte o modelo predito.
3.   Verificar outliers
4.   Verificar valores duplicados

### **1. Valores duplicados**

verificaresmos se existem clientes duplicados no nosso bancos de dados

In [ ]:
pd.value_counts(df_cadastros_portugues['ID'])

7137299    2
7702238    2
7282535    2
7243768    2
7050948    2
          ..
5690727    1
6621262    1
6621261    1
6621260    1
6842885    1
Name: ID, Length: 438510, dtype: int64

é visivel que existem mais de 1 `ID` para cada linhas em algumas observações então vamos checar se realmente são dados duplicados.

In [ ]:
df_cadastros_portugues[df_cadastros_portugues['ID']==7137299]

,ID,GENERO,TEM_CARRO,IMOVEL_PROPRIO,N_FILHOS,RENDIMENTO_ANUAL,CAT_RENDA,ESCOLARIDADE,ESTADO_CIVIL,TIPO_RESIDENCIA,DATA_NASCIMENTO,DATA_EMPREGADO,TEM_CELULAR,TEM_CELULAR_EMPRESARIAL,TEM_TELEFONE_FIXO,TEM_EMAIL,OCUPACAO,TAM_FAMILIA
423160,7137299,M,1,0,1,225000.0,Trabalhando,Ensino medio,Casado,Casa/apartamento,-15243,-7260,1,1,1,0,Lider tech,3.0
426665,7137299,F,0,1,0,292500.0,Trabalhando,Ensino medio,Solteiro,Apartamento comercial,-19679,-2074,1,0,0,0,Limpeza,1.0

Não me parece que são dados duplicados ja que as informações são completamente diferentes e não existe uma linha que seja igual por completo, como podemos verificar no códigio abaixo.

In [ ]:
duplicated_rows = df_cadastros_portugues.duplicated().sum()
duplicated_rows

0

entretando como na tabela de `status de aprovação` so temos referencia ao `ID` do cliente seria impossivel determinar qual cliente é qual com valores de `ID` duplicados. Com isso iremos reduzir nosso dataset e apenas permanecer com observações completamente unicas.

In [ ]:
df_cadastros_portugues.drop_duplicates(subset=['ID'],inplace=True)

In [ ]:
print(pd.value_counts(df_cadastros_portugues['ID']).sum())
df_cadastros_portugues.shape

438510

(438510, 18)

### **2. Valores ausentes**

In [ ]:
df_cadastros_portugues.isna().sum()

ID                         0
GENERO                     0
TEM_CARRO                  0
IMOVEL_PROPRIO             0
N_FILHOS                   0
RENDIMENTO_ANUAL           0
CAT_RENDA                  0
ESCOLARIDADE               0
ESTADO_CIVIL               0
TIPO_RESIDENCIA            0
DATA_NASCIMENTO            0
DATA_EMPREGADO             0
TEM_CELULAR                0
TEM_CELULAR_EMPRESARIAL    0
TEM_TELEFONE_FIXO          0
TEM_EMAIL                  0
OCUPACAO                   0
TAM_FAMILIA                0
dtype: int64

como é possivel perceber, não temos valores ausentes em nosso conjunto de dados, todas as obvervasoes estão prenchinas com informações.

In [ ]:
df_cadastros_portugues.sample(10)

,ID,GENERO,TEM_CARRO,IMOVEL_PROPRIO,N_FILHOS,RENDIMENTO_ANUAL,CAT_RENDA,ESCOLARIDADE,ESTADO_CIVIL,TIPO_RESIDENCIA,DATA_NASCIMENTO,DATA_EMPREGADO,TEM_CELULAR,TEM_CELULAR_EMPRESARIAL,TEM_TELEFONE_FIXO,TEM_EMAIL,OCUPACAO,TAM_FAMILIA
110776,5474905,F,1,1,2,211500.0,Trabalhando,Superior incompleto,Uniao estavel,Casa/apartamento,-11330,-1307,1,0,0,0,Gerente,4.0
425744,7060318,F,0,0,0,112500.0,Associado comercial,Superior incompleto,Solteiro,Casa/apartamento,-10055,-467,1,0,0,0,Outro,1.0
77122,5295950,F,1,1,0,225000.0,Pensionista,Ensino medio,Casado,Casa/apartamento,-20950,365243,1,0,0,0,Outro,2.0
24232,5068946,F,0,1,0,157500.0,Trabalhando,Ensino superior,Casado,Casa/apartamento,-17791,-5072,1,0,0,0,Outro,2.0
367488,6529725,F,0,1,0,247500.0,Trabalhando,Ensino medio,Casado,Casa/apartamento,-15170,-1264,1,1,1,0,construcao civil,2.0
165136,5772308,M,1,1,0,247500.0,Trabalhando,Ensino superior,Casado,Casa/apartamento,-19847,-1002,1,0,0,0,Gerente,2.0
179369,5834495,F,0,0,0,180000.0,Trabalhando,Ensino medio,Casado,Casa/apartamento,-21605,-5072,1,1,0,0,construcao civil,2.0
308363,6230231,F,0,1,0,135000.0,Trabalhando,Ensino medio,Casado,Casa/apartamento,-16723,-3566,1,0,0,0,Vendas,2.0
184726,5857437,M,1,1,2,607500.0,Associado comercial,Ensino superior,Casado,Casa/apartamento,-15840,-930,1,0,1,0,Gerente,4.0
371497,6563507,M,0,1,1,225000.0,Associado comercial,Ensino medio,Casado,Casa/apartamento,-12492,-582,1,0,0,0,Seguranca,3.0

### **3. Verificando e removendo outliers**

In [ ]:
df_cadastros_portugues.describe()

,ID,TEM_CARRO,IMOVEL_PROPRIO,N_FILHOS,RENDIMENTO_ANUAL,DATA_NASCIMENTO,DATA_EMPREGADO,TEM_CELULAR,TEM_CELULAR_EMPRESARIAL,TEM_TELEFONE_FIXO,TEM_EMAIL,TAM_FAMILIA
count,4.385100e+05,438510.000000,438510.000000,438510.000000,4.385100e+05,438510.000000,438510.000000,438510.0,438510.000000,438510.000000,438510.000000,438510.000000
mean,6.022035e+06,0.371903,0.693348,0.427381,1.875254e+05,-15998.022996,60566.188769,1.0,0.206128,0.287770,0.108200,2.194463
std,5.714962e+05,0.483313,0.461104,0.724874,1.100893e+05,4185.016222,138770.072835,0.0,0.404524,0.452724,0.310634,0.897192
min,5.008804e+06,0.000000,0.000000,0.000000,2.610000e+04,-25201.000000,-17531.000000,1.0,0.000000,0.000000,0.000000,1.000000
25%,5.609362e+06,0.000000,0.000000,0.000000,1.215000e+05,-19484.000000,-3103.000000,1.0,0.000000,0.000000,0.000000,2.000000
50%,6.047720e+06,0.000000,1.000000,0.000000,1.609402e+05,-15630.000000,-1467.000000,1.0,0.000000,0.000000,0.000000,2.000000
75%,6.454161e+06,1.000000,1.000000,1.000000,2.250000e+05,-12514.000000,-371.000000,1.0,0.000000,1.000000,0.000000,3.000000
max,7.999952e+06,1.000000,1.000000,19.000000,6.750000e+06,-7489.000000,365243.000000,1.0,1.000000,1.000000,1.000000,20.000000

é possiviel observar que existem clientes com rendas anuais maiores que 6 milhões, o que é muito longe da médio de 187 mil dolares. iremos optar por retirar essas observações do nosso conjunto de dados

In [ ]:
# Removendo os outliers
q_low = df_cadastros_portugues["RENDIMENTO_ANUAL"].quantile(0.01)
q_hi  = df_cadastros_portugues["RENDIMENTO_ANUAL"].quantile(0.99)

df_cadastros_port_outl = df_cadastros_portugues[(df_cadastros_portugues["RENDIMENTO_ANUAL"] < q_hi) & (df_cadastros_portugues["RENDIMENTO_ANUAL"] > q_low)]

df_cadastros_port_outl.describe()

,ID,TEM_CARRO,IMOVEL_PROPRIO,N_FILHOS,RENDIMENTO_ANUAL,DATA_NASCIMENTO,DATA_EMPREGADO,TEM_CELULAR,TEM_CELULAR_EMPRESARIAL,TEM_TELEFONE_FIXO,TEM_EMAIL,TAM_FAMILIA
count,4.284140e+05,428414.000000,428414.000000,428414.000000,428414.000000,428414.000000,428414.000000,428414.0,428414.000000,428414.000000,428414.000000,428414.000000
mean,6.022292e+06,0.370994,0.693628,0.427570,182570.167968,-15967.277106,59657.657432,1.0,0.206165,0.286445,0.107461,2.193728
std,5.713011e+05,0.483071,0.460987,0.724429,81682.687215,4182.271361,137970.102836,0.0,0.404551,0.452100,0.309699,0.897380
min,5.008804e+06,0.000000,0.000000,0.000000,54027.000000,-25201.000000,-17531.000000,1.0,0.000000,0.000000,0.000000,1.000000
25%,5.609451e+06,0.000000,0.000000,0.000000,121500.000000,-19446.000000,-3104.750000,1.0,0.000000,0.000000,0.000000,2.000000
50%,6.047968e+06,0.000000,1.000000,0.000000,157500.000000,-15592.000000,-1474.000000,1.0,0.000000,0.000000,0.000000,2.000000
75%,6.454153e+06,1.000000,1.000000,1.000000,225000.000000,-12481.000000,-380.000000,1.0,0.000000,1.000000,0.000000,3.000000
max,7.999952e+06,1.000000,1.000000,19.000000,531000.000000,-7489.000000,365243.000000,1.0,1.000000,1.000000,1.000000,20.000000

## **Feature engineering**

---

Lidando com dados temporais como idade e tempo de trabalho.

os dados de data de nascimento e anos empregados não estão em formatos adequados de datas. no nosso conjuto de dados os dados estão como contagem regressiva a partir do dia atual (0), -1 significa ontem. por isso é necessario uma transformação para conseguirmos extrair os anos desejados

In [ ]:
def data_nascimento(total_dias):
    hoje = datetime.date.today()
    aniversario = (hoje + timedelta(days=total_dias)).strftime('%Y-%m-%d')
    return aniversario                  

def dias_empregado(total_dias):
    hoje = datetime.date.today()
    adimissao = (hoje + datetime.timedelta(days=total_dias)).strftime('%Y-%m-%d')
    return adimissao

def idade(data_nascimento):
    hoje=datetime.date.today()
    data_de_nascimento=datetime.datetime.strptime(data_nascimento,'%Y-%m-%d')
    idade=hoje.year-data_de_nascimento.year
    return idade

def anos_emprego(data_empregado):
    hoje=datetime.date.today()
    data_emprego=datetime.datetime.strptime(data_empregado,'%Y-%m-%d')
    anos=hoje.year-data_emprego.year
    return anos

In [ ]:
df_cadastros_port_outl['DATA_NASCIMENTO']=df_cadastros_port_outl['DATA_NASCIMENTO'].apply(data_nascimento)

In [ ]:
df_cadastros_port_outl['DATA_EMPREGADO']=df_cadastros_port_outl['DATA_EMPREGADO'].apply(dias_empregado)

In [ ]:
df_cadastros_port_outl['IDADE']=df_cadastros_port_outl['DATA_NASCIMENTO'].apply(idade)

In [ ]:
df_cadastros_port_outl['ANOS_EMPREGO']=df_cadastros_port_outl['DATA_EMPREGADO'].apply(anos_emprego)

A partir disso ja podemos excluir as colunas de `DATA_NASCIMENTO` e `DATA_EMPREGADO`

In [ ]:
df_cadastros_port_outl.drop(['DATA_NASCIMENTO','DATA_EMPREGADO'], axis=1, inplace=True)

In [ ]:
df_cadastros_port_outl.head()

,ID,GENERO,TEM_CARRO,IMOVEL_PROPRIO,N_FILHOS,RENDIMENTO_ANUAL,CAT_RENDA,ESCOLARIDADE,ESTADO_CIVIL,TIPO_RESIDENCIA,TEM_CELULAR,TEM_CELULAR_EMPRESARIAL,TEM_TELEFONE_FIXO,TEM_EMAIL,OCUPACAO,TAM_FAMILIA,IDADE,ANOS_EMPREGO
0,5008804,M,1,1,0,427500.0,Trabalhando,Ensino superior,Uniao estavel,Apartamento alugado,1,1,0,0,Outro,2.0,33,13
1,5008805,M,1,1,0,427500.0,Trabalhando,Ensino superior,Uniao estavel,Apartamento alugado,1,1,0,0,Outro,2.0,33,13
2,5008806,M,1,1,0,112500.0,Trabalhando,Ensino medio,Casado,Casa/apartamento,1,0,0,0,Seguranca,2.0,59,4
3,5008808,F,0,1,0,270000.0,Associado comercial,Ensino medio,Solteiro,Casa/apartamento,1,0,1,1,Vendas,1.0,53,9
4,5008809,F,0,1,0,270000.0,Associado comercial,Ensino medio,Solteiro,Casa/apartamento,1,0,1,1,Vendas,1.0,53,9

In [ ]:
df_cadastros_port_outl.describe()

,ID,TEM_CARRO,IMOVEL_PROPRIO,N_FILHOS,RENDIMENTO_ANUAL,TEM_CELULAR,TEM_CELULAR_EMPRESARIAL,TEM_TELEFONE_FIXO,TEM_EMAIL,TAM_FAMILIA,IDADE,ANOS_EMPREGO
count,4.284140e+05,428414.000000,428414.000000,428414.000000,428414.000000,428414.0,428414.000000,428414.000000,428414.000000,428414.000000,428414.000000,428414.000000
mean,6.022292e+06,0.370994,0.693628,0.427570,182570.167968,1.0,0.206165,0.286445,0.107461,2.193728,44.165559,-162.958342
std,5.713011e+05,0.483071,0.460987,0.724429,81682.687215,0.0,0.404551,0.452100,0.309699,0.897380,11.450752,377.919737
min,5.008804e+06,0.000000,0.000000,0.000000,54027.000000,1.0,0.000000,0.000000,0.000000,1.000000,21.000000,-1000.000000
25%,5.609451e+06,0.000000,0.000000,0.000000,121500.000000,1.0,0.000000,0.000000,0.000000,2.000000,35.000000,1.000000
50%,6.047968e+06,0.000000,1.000000,0.000000,157500.000000,1.0,0.000000,0.000000,0.000000,2.000000,43.000000,4.000000
75%,6.454153e+06,1.000000,1.000000,1.000000,225000.000000,1.0,0.000000,1.000000,0.000000,3.000000,54.000000,9.000000
max,7.999952e+06,1.000000,1.000000,19.000000,531000.000000,1.0,1.000000,1.000000,1.000000,20.000000,69.000000,48.000000

É possivel observar que alguns dados de anos trabalhados ainda apresentam inconsistencias. como valor minimo `-1000` e todos eles são pensionista

A abordagem que faremos aqui é apenas subistituir esses valores por 0, como se eles nao tivessem anos de experiencia.

In [ ]:
df_cadastros_port_outl.replace(-1000,0,inplace=True)

In [ ]:
df_cadastros_port_outl.describe()

,ID,TEM_CARRO,IMOVEL_PROPRIO,N_FILHOS,RENDIMENTO_ANUAL,TEM_CELULAR,TEM_CELULAR_EMPRESARIAL,TEM_TELEFONE_FIXO,TEM_EMAIL,TAM_FAMILIA,IDADE,ANOS_EMPREGO
count,4.284140e+05,428414.000000,428414.000000,428414.000000,428414.000000,428414.0,428414.000000,428414.000000,428414.000000,428414.000000,428414.000000,428414.000000
mean,6.022292e+06,0.370994,0.693628,0.427570,182570.167968,1.0,0.206165,0.286445,0.107461,2.193728,44.165559,6.335846
std,5.713011e+05,0.483071,0.460987,0.724429,81682.687215,0.0,0.404551,0.452100,0.309699,0.897380,11.450752,6.639635
min,5.008804e+06,0.000000,0.000000,0.000000,54027.000000,1.0,0.000000,0.000000,0.000000,1.000000,21.000000,0.000000
25%,5.609451e+06,0.000000,0.000000,0.000000,121500.000000,1.0,0.000000,0.000000,0.000000,2.000000,35.000000,1.000000
50%,6.047968e+06,0.000000,1.000000,0.000000,157500.000000,1.0,0.000000,0.000000,0.000000,2.000000,43.000000,4.000000
75%,6.454153e+06,1.000000,1.000000,1.000000,225000.000000,1.0,0.000000,1.000000,0.000000,3.000000,54.000000,9.000000
max,7.999952e+06,1.000000,1.000000,19.000000,531000.000000,1.0,1.000000,1.000000,1.000000,20.000000,69.000000,48.000000

In [ ]:
df_cadastros[(df_cadastros['CAT_RENDA']=='Pensioner') & (df_cadastros['DATA_EMPREGADO']!=365243)]

,ID,GENERO,TEM_CARRO,IMOVEL_PROPRIO,N_FILHOS,RENDIMENTO_ANUAL,CAT_RENDA,ESCOLARIDADE,ESTADO_CIVIL,TIPO_RESIDENCIA,DATA_NASCIMENTO,DATA_EMPREGADO,TEM_CELULAR,TEM_CELULAR_EMPRESARIAL,TEM_TELEFONE_FIXO,TEM_EMAIL,OCUPACAO,TAM_FAMILIA
434467,5009753,F,Y,N,0,315000.0,Pensioner,Higher education,Married,House / apartment,-13557,-586,1,1,1,0,NaN,2.0
434476,5010868,M,Y,Y,1,450000.0,Pensioner,Secondary / secondary special,Married,House / apartment,-18173,-678,1,0,1,1,Core staff,3.0
434479,5021303,M,N,N,1,472500.0,Pensioner,Higher education,Married,With parents,-8907,-913,1,0,0,1,NaN,3.0
434485,5021998,M,N,Y,0,90000.0,Pensioner,Secondary / secondary special,Married,House / apartment,-18863,-1644,1,0,0,1,NaN,2.0
434547,5045929,M,N,N,0,247500.0,Pensioner,Secondary / secondary special,Single / not married,House / apartment,-15037,-2208,1,0,0,0,Laborers,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
438464,6801596,F,N,Y,0,112500.0,Pensioner,Secondary / secondary special,Married,House / apartment,-13659,-4235,1,0,0,0,Core staff,2.0
438476,6806483,M,Y,N,0,202500.0,Pensioner,Secondary / secondary special,Single / not married,House / apartment,-17872,-1495,1,0,1,0,Laborers,1.0
438485,6815341,F,N,Y,0,126000.0,Pensioner,Higher education,Married,House / apartment,-18856,-1449,1,1,1,0,Core staff,2.0
438501,6830313,F,Y,N,0,90000.0,Pensioner,Secondary / secondary special,Married,House / apartment,-15943,-5165,1,1,1,0,Medicine staff,2.0
438547,6839917,F,N,Y,0,180000.0,Pensioner,Higher education,Married,House / apartment,-10966,-2704,1,0,0,0,NaN,2.0

iremos tambem retirar colunar que não são relevantes para a previsão de credito, como `TEM_CELULAR`, `TEM_CELULAR_EMPRESARIAL`, `TEM_EMAIL`

In [ ]:
df_cadastros_port_outl.drop(['TEM_CELULAR', 'TEM_CELULAR_EMPRESARIAL', 'TEM_EMAIL','TEM_TELEFONE_FIXO'],axis=1,inplace=True)

# **Dados de apovação**

---

Dados referente ao **status de credito** de um cliente especifico em vários meses que aquele cliente solicitou um emprestimo ao banco.


Nesse banco de dados temos varios clientes com mais de uma obsevação pois o mesmo cliente pode solicitar emprestimos em varios meses diferentes, com isso temos o status de pagamento de cada mês específico para cada cliente.

`ID:`	Número do cliente.

`MONTHS_BALANCE:`		O mês dos dados extraídos é o ponto de partida, para trás, 0 é o mês atual, -1 é o mês anterior e assim por diante.

`STATUS:`	0: 1 a 29 dias de atraso 1: 30 a 59 dias de atraso 2: 60 a 89 dias de atraso 3: 90 a 119 dias de atraso 4: 120 a 149 dias de atraso 5: Vencido ou incobrável, baixas por mais de 150 dias C: pago naquele mês X: Sem empréstimo no mês.

In [ ]:
df_status_pagamento.head()

        ID  MONTHS_BALANCE STATUS
0  5001711               0      X
1  5001711              -1      0
2  5001711              -2      0
3  5001711              -3      0
4  5001712               0      C

A tarefa aqui é determinar quias clientes são BONS ou MAUS pagadores, por isso o status de atraso de pagamento referindo aos dias de atraso de cada cliente nao resolve nosso problemas. Precisamos criar entao janelas de tempo para decidir se um cliente é bom ou mau pagador. Bons pagadores serão aqueles clientes com pagamentos até 60 dias de atraso se enquadrando no status 2 do nosso data set. A partir de 60 dias de atraso consideramos como mau pagador.

consideramos até 60 dias de atraso pois bancos tambem ganham dinheiro com juros de atraso de pagamentos.

In [ ]:
df_status_pagamento['STATUS'].unique()

array(['X', '0', 'C', '1', '2', '3', '4', '5'], dtype=object)

In [ ]:
list1 = ['X', '0', 'C', '1'] # lista de bons pagadores (pagadores com menos de 60 dias)
df_status_pagamento['BOM_PAGADOR'] = df_status_pagamento.apply(lambda x: 1 if x.STATUS in list1 else 0, axis=1) #substituindo por 1 e 0 os bons e mau pagadores

In [ ]:
df_status_pagamento.drop(['STATUS'],axis=1,inplace=True)
df_status_pagamento.head()

        ID  MONTHS_BALANCE  BOM_PAGADOR
0  5001711               0            1
1  5001711              -1            1
2  5001711              -2            1
3  5001711              -3            1
4  5001712               0            1

Como existem diversos meses vamos determinar que se um cliente atrase mais de 60 dias em determinado mês esse cliente nao é um BOM pagador

In [ ]:

df = df_status_pagamento.groupby('ID')['BOM_PAGADOR'].mean().reset_index() # media de pagamento por cliente, caso a media seja "1" significa que ele sempre foi um bom pagador
df

            ID  BOM_PAGADOR
0      5001711          1.0
1      5001712          1.0
2      5001713          1.0
3      5001714          1.0
4      5001715          1.0
...        ...          ...
45980  5150482          1.0
45981  5150483          1.0
45982  5150484          1.0
45983  5150485          1.0
45984  5150487          1.0

[45985 rows x 2 columns]

In [ ]:
df['BOM'] = df.apply(lambda x: 1 if x['BOM_PAGADOR']==1 else 0, axis=1) # atribuindo valor "1" caso aquele cliente sempe foi bom pagador e "0" caso ja tenha atrasado alguma vez

In [ ]:
df[df['BOM_PAGADOR']!=1].value_counts().sum() 
df.drop('BOM_PAGADOR',axis=1,inplace=True)

Como podemos observar existem apenas `667` Maus pagadores em nosso conjunto de dados, o que nos diz que estamos lidando com dados extremamente desbalanceados. O balanceamento desse dataset será feito em outro notebook

# **Preparação dos dados para Machine Learning**

In [ ]:
dados_preparados = df.merge(df_cadastros_port_outl,how='inner',on='ID')
dados_preparados

,ID,BOM,GENERO,TEM_CARRO,IMOVEL_PROPRIO,N_FILHOS,RENDIMENTO_ANUAL,CAT_RENDA,ESCOLARIDADE,ESTADO_CIVIL,TIPO_RESIDENCIA,OCUPACAO,TAM_FAMILIA,IDADE,ANOS_EMPREGO
0,5008804,1,M,1,1,0,427500.0,Trabalhando,Ensino superior,Uniao estavel,Apartamento alugado,Outro,2.0,33,13
1,5008805,1,M,1,1,0,427500.0,Trabalhando,Ensino superior,Uniao estavel,Apartamento alugado,Outro,2.0,33,13
2,5008806,1,M,1,1,0,112500.0,Trabalhando,Ensino medio,Casado,Casa/apartamento,Seguranca,2.0,59,4
3,5008808,1,F,0,1,0,270000.0,Associado comercial,Ensino medio,Solteiro,Casa/apartamento,Vendas,1.0,53,9
4,5008809,1,F,0,1,0,270000.0,Associado comercial,Ensino medio,Solteiro,Casa/apartamento,Vendas,1.0,53,9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35526,5150482,1,F,1,1,1,157500.0,Trabalhando,Ensino medio,Casado,Casa/apartamento,Lider de equipe,3.0,30,5
35527,5150483,1,F,1,1,1,157500.0,Trabalhando,Ensino medio,Casado,Casa/apartamento,Lider de equipe,3.0,30,5
35528,5150484,1,F,1,1,1,157500.0,Trabalhando,Ensino medio,Casado,Casa/apartamento,Lider de equipe,3.0,30,5
35529,5150485,1,F,1,1,1,157500.0,Trabalhando,Ensino medio,Casado,Casa/apartamento,Lider de equipe,3.0,30,5
35530,5150487,1,M,1,0,0,202500.0,Trabalhando,Ensino medio,Casado,Casa/apartamento,Motorista,2.0,54,6

In [ ]:
dados_preparados.to_csv('dados_preparados.csv',index=False)
files.download('dados_preparados.csv')